@mixin controlButton($originalImg, $hoverImg){
    width: 60px;
    height: 60px;

    margin-bottom: 10px;

    border: 1px solid $grayedOut;
    border-radius: 5px;

    background-color: #F2F2F2 !important;

    background: url($originalImg) no-repeat center;

    &:hover{
        border-color: #134880;
        background-image: url($hoverImg);
    }
}