@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
/******************************************/
/******************************************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 50%;
  margin: 0 auto;
  background: #F2F2F2;
}

/******************************************/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/******************************************/
.fillerElem {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DDDDDD;
}

.fillerElem p {
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

/******************************************/
.mainContent {
  min-width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 0;
}

/******************************************/
.sliderContainer {
  width: 70%;
  height: 100%;
  position: relative;
  margin-right: 1.25rem;
}

.slider {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -75%;
  overflow: hidden;
}

.slider img {
  max-height: 200px;
  visibility: hidden;
  margin: 0 0 0.625rem 0.625rem;
  border-radius: 5px;
}

.slider img[src] {
  visibility: visible;
}

/******************************************/
.textContainer {
  width: 30%;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.2px;
  color: #134880;
  margin-bottom: 1.5rem;
}

.mainText {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #484A4C;
}

/******************************************/
.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: calc(50% + 15px);
}

.controlBtn {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  background-color: #F2F2F2 !important;
}

.controlBtn.rightBtn {
  background: url("../../assets/arrow-gray-right.png") no-repeat center;
}

.controlBtn.rightBtn:hover {
  border-color: #134880;
  background-image: url("../../assets/arrow-blue-right.png");
}

.controlBtn.leftBtn {
  background: url("../../assets/arrow-gray-left.png") no-repeat center;
  background-position: center;
}

.controlBtn.leftBtn:hover {
  border-color: #134880;
  background-image: url("../../assets/arrow-blue-left.png");
}
/*# sourceMappingURL=style.css.map */